body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #e0ac69, #f1c27d); /* Degradado en tonos piel */
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.button-container {
  margin: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #d09f6d; /* Color de fondo del botón */
  color: white;
}

button:hover {
  background-color: #b87c55; /* Color más oscuro al pasar el mouse */
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s; /* Transición suave */
}

.product img:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.price {
  margin-top: 10px;
  font-size: 18px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
 .product-container {
    flex-direction: row; /* Mantiene en fila en pantallas pequeñas */
    flex-wrap: wrap; /* Permite que los productos se envuelvan */
    justify-content: center; /* Centra los productos */
 }

 .product {
    width: calc(50% - 30px); /* Dos productos por fila con margen */
    max-width: none; /* Sin ancho máximo para permitir flexibilidad */
    margin-bottom: 20px; /* Espacio entre productos */
 }

 button {
    width: 100%; /* Botón ocupa todo el ancho en móviles */
    font-size: 18px; /* Aumenta el tamaño del texto del botón */
    padding: 15px; /* Aumenta el padding del botón */
 }
}